<div class="basic-page twitch-page">
    <div class="container">
        <div class="page-title">
            <h1>Live Streams</h1>
            <div class="sub-box"></div>
        </div>

        <div class="container basic-content">
            {% partial '@streamers' %}

            <div class="more-news text-center">
                <hr class="d-none d-md-block">
                <a class="btn btn-outline-primary btn-lg btn-md-block" href="/streamers/all">View All</a>
            </div>
        </div>
    </div>
</div>