.stream-logo { height:16px; filter:invert(100%); }
.border-1 { border-color:#6441A4 !important; }
.border-2 { border-color:#E62117 !important; }
.badge-1 { color:#D4D4DC; background-color:#6441A4; }
.badge-2 { color:#D4D4DC; background-color:#E62117; }
.badge img { vertical-align:middle; }
.streamer-img-top { width:113px; height:auto; }